Source: pixelated-server
Section: mail
Maintainer: Pixelated Project Team <team@pixelated-project.org>
Priority: optional
Build-Depends: dh-systemd, debhelper (>= 7.4.3)
Standards-Version: 3.9.6

Package: pixelated-server
Architecture: all
Depends: ${misc:Depends}, systemd, ssl-cert, pixelated-user-agent
Description: Run pixelated-user-agent as a service in multi-user mode.
  Pixelated user-agent combines the usefulness of modern email
  with the privacy of modern cryptography.
  Pixelated server is a modern privacy-preserving webmail solution
  for organizations.
